.message--question {
	background: white;
	margin-bottom: 0;
}
.message--question .text {
	padding-left: 0;
}
.message--question.form {
	text-align: left;
}
.message--question.form .form-field {
	display: inline-block;
	margin-right: 15px;
}
.message--question.form input {
	margin-right: 5px;
}
.message--question.form label {
	font-weight: 100;
}
.message--question.form .text-input-label {
	display: block;
	margin-bottom: 10px;
}

.message--question.form .btn {
	display: block;
	margin: 10px 0;
}